# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# XEngine Ignores
*.opensdf
*.sdf
*.v12.suo
Code/3rdParty/AngelScript/
Code/3rdParty/Assimp/
Code/3rdParty/Boost/
Code/3rdParty/DirectXTK/
Code/3rdParty/DirectXTex/
Code/3rdParty/FastFormat/
Code/3rdParty/GLM/
Code/3rdParty/LibIconv/
Code/3rdParty/LibXML2/
Code/3rdParty/PhysX/
Code/3rdParty/SFML/
Code/3rdParty/STLSoft/
Code/3rdParty/zlib/
Code/3rdParty/AngelScript/
Run/XEngine_TestBed/bin_x64/AS_DEBUG/
Run/XEngine_TestBed/bin_x86/AS_DEBUG/
