# Linux
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.user

# AEngine Ignores
*.dmp
*.ini
*.opensdf
*.sdf
*.suo
*.v12.suo
*.user
*.vs
CodeSolution/Code/3rdParty/AngelScript/
CodeSolution/Code/3rdParty/Assimp/
CodeSolution/Code/3rdParty/Boost/
CodeSolution/Code/3rdParty/DirectXTK/
CodeSolution/Code/3rdParty/DirectXTex/
CodeSolution/Code/3rdParty/CPPFormat/
CodeSolution/Code/3rdParty/ImGui/
CodeSolution/Code/3rdParty/GLM/
CodeSolution/Code/3rdParty/TinyXML2/
CodeSolution/Code/3rdParty/PhysX/
CodeSolution/Code/3rdParty/SFML/
CodeSolution/Code/3rdParty/STLSoft/
CodeSolution/Code/3rdParty/zlib/
CodeSolution/Code/3rdParty/AngelScript/
CodeSolution/Run/AEngine_TestBed/bin_x64/AS_DEBUG/
CodeSolution/Run/AEngine_TestBed/bin_x86/AS_DEBUG/
CodeSolution/Bin/
CodeSolution/Code/AEngine_Editor/GeneratedFiles/
CodeSolution/Code/AEngine_Shaders/Compiled Materials/
3rdParty/*/Src/*
3rdParty/*/Binaries/*
3rdParty/*/Zip/*
3rdParty/*/Headers/*
3rdParty/*/VS Projects/
3rdParty/DirectXTK/Tools/
3rdParty/LibIconv/How to Compile Demo Bin.zip
3rdParty/LibIconv/How to Compile Demo Src.zip
3rdParty/ImGui/Project/imgui/Debug
3rdParty/ImGui/Project/imgui/Release
3rdParty/ImGui/Project/imgui/intermediate
CodeSolution/Run/AEngine_TestBed/Data/Editor UI Layouts/default.qtl
CodeSolution/Run/AEngine_TestBed/Data/Logs/Logs.txt
